In [3]:
import pandas as pd
#creating an empty dataframe
df1 = pd.DataFrame()
print(df1)

Empty DataFrame
Columns: []
Index: []

In [5]:
#creating a DataFrame from python list
list2 = ['sia','alish','nick']
df2 = pd.DataFrame(list2)
print(df2)

       0
0    sia
1  alish
2   nick

In [6]:
list3 = {'name':['sia','alish','ishi'],'age':[21,12,22]}
df = pd.DataFrame(list3)
print(df)

    name  age
0    sia   21
1  alish   12
2   ishi   22

In [8]:
name = pd.Series(['sia','alish','ishi'])
age = pd.Series([3,12,22])
dict = {'Name':name,'Age':age}
df = pd.DataFrame(dict)
print(df)

    Name  Age
0    sia    3
1  alish   12
2   ishi   22

In [9]:
#adding a column
list3 = {'name':['sia','alish','ishi'],'age':[21,12,22]}
df = pd.DataFrame(list3)
df['date of birth'] = pd.Series([3,8,18])
print(df)

    name  age  date of birth
0    sia   21              3
1  alish   12              8
2   ishi   22             18

In [10]:
#deleting a column
list3 = {'name':['sia','alish','ishi'],'age':[21,12,22]}
df = pd.DataFrame(list3)
df['date of birth'] = pd.Series([3,8,18])
del df['date of birth']
print(df)

    name  age
0    sia   21
1  alish   12
2   ishi   22

In [14]:
#Adding a row
list3 = {'name':['sia','alish','ishi'],'age':[21,12,22]}
df = pd.DataFrame(list3)
df['date of birth'] = pd.Series([3,8,18])
del df['date of birth']
data = pd.DataFrame([['JOHN',9]],columns = ['name','age'])
print(df.append(data))

    name  age
0    sia   21
1  alish   12
2   ishi   22
0   JOHN    9

In [19]:
#deleting a row
list3 = {'name':['sia','alish','ishi'],'age':[21,12,22]}
df = pd.DataFrame(list3)
print(df.drop(2))

    name  age
0    sia   21
1  alish   12

In [15]:
#deleting a row
list3 = {'name':['sia','alish','ishi'],'age':[21,12,22]}
df = pd.DataFrame(list3)
print(df.drop(2))

    name  age
0    sia   21
1  alish   12